* {
  font-family: 'Karla', sans-serif;
  color: #FFFFFF;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #E6EFF6;
  box-sizing: border-box;
}

main {
  margin: 50px;
}

.container {
  border-radius: 9px;
  box-shadow: 0px 0px 20px 4px #00000014;
  max-width: 635px;
  width: 100%;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.bloco1 {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 9px 9px 0 0;
  padding: 19px 39px 23px 39px;
}

.bloco1_titulo {
  color: hsl(179, 62%, 43%);
}

.subtitulo {
  padding-top: 6px;
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  font-size: 1.125rem;
}

.bloco1_texto {
  color: hsl(218, 22%, 67%);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.bloco2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bloco2_1 {
  padding: 39px 40px 39px 39px;
  background-color: #2BB3B1;
  border-radius: 0 0 0 9px;
  font-weight: 700px
}

.titulo {
  font-weight: 700px;
}

.price {
  display: flex;
  align-items: center;
  margin-top: 19px;
}

.price_titulo {
  margin-bottom: 0px;
  margin-top: 0px;
}

.pormes {
  font-weight: 100;
  color: #79E5E7;
}

.bloco2_1_subtitulo {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #FFFFFF;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(71, 73%, 54%);
  margin: 28px 0 0 0;
  border-radius: 6px;
  box-shadow: 0px 8px 9px 3px #26A39F;
  padding: 15px;
}

.botao>a {
  text-decoration: none;
}

.bloco2_2 {
  padding: 39px 85px 17px 39px;
  background-color: #4ABEBD;
  border-radius: 0 0 9px 0;
}

.tabela {
  list-style: none;
  padding-left: 0;
}

.tabela_artigo {
  font-size: 0.9375rem;
  line-height: 22px;
}

@media only screen and (max-width:700px) {
  .bloco2 {
    display: flex;
    flex-direction: column;
  }

  .bloco2_1 {
    border-radius: 0;
  }

  .bloco2_2 {
    border-radius: 0 0 9px 9px;
  }
}